NODE_ENV=production
HTTP_PORT=3056

DB_HOST=prod-crm-postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=prod_telecom
DB_SYNCHRONIZE=false
DB_SSL=true
MIGRATIONS_RUN=true

NATS_URL=nats://prod-crm-nats:4222

FINANCE_GRPC_URL=prod-crm-service-finance:50074

TELECOM_PRIME_FIXE_EUR=30
TELECOM_COMMISSION_RECURRENTE_PERCENT=5
TELECOM_MANDATE_SUCCESS_REDIRECT_URL=https://crm.local/mandate/success
TELECOM_TRANSATEL_FORCE_FAILURE=false
